@page "/contracts"
@using Microsoft.EntityFrameworkCore
@using Billing52Group.Configuration
@using Billing52Group.Models
@inject ApplicationDbContext Context
@attribute [Authorize]
@layout MainLayout
<h3>
    Contracts
</h3>

<div class="row justify-content-end px-3">
    <NavLink class="text-white px-1" href="/contracts/create">
        <span class="btn btn-primary">
            Create
        </span>
    </NavLink>
    <NavLink class="text-white px-1" href="/contracts/edit">
        <span class="btn btn-primary">
            Edit
        </span>
    </NavLink>
    <NavLink class="text-white px-1" href="/contracts/delete">
        <span class="btn btn-primary">
            Delete
        </span>
    </NavLink>
</div>

@if (contracts == null)
{
    <h4>Loading...</h4>
}
else
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Comment
            </th>
            <th>
                Title
            </th>
        </tr>
        </thead>

        <tbody>
        @foreach (var contract in contracts)
        {
            <tr onclick="window.open('/contracts/@contract.Id', '_blank')">
                <td>
                    @contract.Id
                </td>
                <td>
                    @contract.Comment
                </td>
                <td>
                    @contract.Title
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    IEnumerable<Contract> contracts;

    protected override async Task OnInitializedAsync()
    {
        contracts = await Context.Contract.ToListAsync();
    }
}