@page "/payments/create"
@using Billing52Group.Configuration
@using Billing52Group.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.VisualBasic.CompilerServices
@inject ApplicationDbContext Context
@inject NavigationManager NavigationManager
@attribute [Authorize]


<h3>Create</h3>
<div class="d-flex justify-content-center">
    <EditForm OnSubmit="@CreatePaymentType" Model="@PaymentType" class="form-group d-flex flex-column col-sm-3">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label>
            Title
            <InputText @bind-Value="PaymentType.Title" class="form-control" />
        </label>
        <input type="submit" class="form-control" />
    </EditForm>
</div>



@code {
    readonly PaymentType PaymentType = new PaymentType();
    
    async Task CreatePaymentType(EditContext editContext)
    {
        if (!editContext.Validate()) return;
        await Context.AddAsync(PaymentType);
        await Context.SaveChangesAsync();
        NavigationManager.NavigateTo("/payments/");
    }
}