@page "/payments"
@using Microsoft.EntityFrameworkCore
@using Billing52Group.Configuration
@using Billing52Group.Models
@inject ApplicationDbContext Context
@attribute [Authorize]
@layout MainLayout
<h3>
    Payments
</h3>

<div class="row justify-content-end px-3">
    <NavLink class="text-white" href="/payments/create">
        <span class="btn btn-primary" >
            Create
        </span>
    </NavLink>
</div>

@if (paymentTypes == null)
{
    <h4>Loading...</h4>
}
else
{
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr align="center">
            <th>
                Id
            </th>
            <th>
                Title
            </th>
        </tr>
        </thead>

        <tbody>
        @foreach (var paymentType in paymentTypes)
        {
            <tr>
                <td>
                    @paymentType.Id
                </td>
                <td>
                    @paymentType.Title
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    IEnumerable<PaymentType> paymentTypes;

    protected override async Task OnInitializedAsync()
    {
        paymentTypes = await Context.PaymentType.ToListAsync();
    }
}