@page "/statuses/create"
@using Billing52Group.Configuration
@using Billing52Group.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.VisualBasic.CompilerServices
@inject ApplicationDbContext Context
@inject NavigationManager NavigationManager
@attribute [Authorize]


    <h3>Create</h3>
<div class="d-flex justify-content-center">
    <EditForm OnSubmit="@CreateStatus" Model="@Status" class="form-group d-flex flex-column col-sm-3">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label>
            Title
            <InputText @bind-Value="Status.Title" class="form-control" />
        </label>

        <label>
            Comment
            <InputText @bind-Value="Status.Comment" class="form-control" />
        </label>
        <input type="submit" class="form-control" />
    </EditForm>
</div>



@code {
    readonly Status Status = new Status();
    
    async Task CreateStatus(EditContext editContext)
    {
        if (!editContext.Validate()) return;
        await Context.AddAsync(Status);
        await Context.SaveChangesAsync();
        NavigationManager.NavigateTo("/statuses/");
    }
}
