<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Billing52Group</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <ul class="nav-item dropdown show px-3">
            <NavLink class="nav-link dropdown-toggle" type="button" @onclick="SwitchSubNavSettings" id="navbarDropdown">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Contracts
            </NavLink>
            @if (expandSubNavSettings)
            {
                <li class="dropdown-menu-right show" aria-haspopup="true" aria-expanded="false" @onclick="SwitchSubNavSettings">
                    <li class="nav-item px-0">
                        <NavLink class="nav-link" href="/contracts/create">
                            <span class="oi oi-plus" aria-hidden="true"></span> Create Contract
                        </NavLink>
                    </li>
                    <li class="nav-item px-0">
                        <NavLink class="nav-link" href="/contracts">
                            <span class="oi oi-people" aria-hidden="true"></span> Open Contract
                        </NavLink>
                    </li>
                </li>
            }
        </ul>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/payments">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Payment Type
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/services">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Services
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/parameters">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parameters
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/statuses">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Statuses
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/contract-groups">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Contract Groups
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/modules">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Modules
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/tariff-groups">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tariff Groups
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/tariff-plans">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tariff Plans
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool expandSubNavSettings;
    private bool collapseNavMenu;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void SwitchSubNavSettings()
    {
        expandSubNavSettings = !expandSubNavSettings;
    }

}
