@page "/modules"
@using Microsoft.EntityFrameworkCore
@using Billing52Group.Configuration
@using Billing52Group.Models
@inject ApplicationDbContext Context
@attribute [Authorize]
@layout MainLayout
<h3>
    Modules
</h3>

<div class="row justify-content-end px-3">
    <NavLink class="text-white" href="/modules/create">
        <span class="btn btn-primary" >
            Create
        </span>
    </NavLink>
</div>

@if (modules == null)
{
    <h4>Loading...</h4>
}
else
{
    <table class="table">
        <thead>
        <tr class="table-">
            <th>
                Id
            </th>
            <th>
                Title
            </th>
        </tr>
        </thead>

        <tbody>
        
        @foreach (var module in modules)
        {
            <tr>
                <td>
                    @module.Id
                </td>
                <td>
                    @module.Title
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code
{
    IEnumerable<Module> modules;

    protected override async Task OnInitializedAsync()
    {
        modules = await Context.Module.ToListAsync();
    }
}