@page "/contract-groups/create"
@using Billing52Group.Configuration
@using Billing52Group.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.VisualBasic.CompilerServices
@inject ApplicationDbContext Context
@inject NavigationManager NavigationManager
@attribute [Authorize]


    <h3>Create</h3>
<div class="d-flex justify-content-center">
    <EditForm OnSubmit="@CreateContractGroup" Model="@ContractGroup" class="form-group d-flex flex-column col-sm-3">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label>
            Title
            <InputText @bind-Value="ContractGroup.Title" class="form-control" />
        </label>

        <label>
            Comment
            <InputText @bind-Value="ContractGroup.Comment" class="form-control" />
        </label>
        <input type="submit" class="form-control" />
    </EditForm>
</div>



@code {
    readonly ContractGroup ContractGroup = new ContractGroup();
    
    async Task CreateContractGroup(EditContext editContext)
    {
        if (!editContext.Validate()) return;
        await Context.AddAsync(ContractGroup);
        await Context.SaveChangesAsync();
        NavigationManager.NavigateTo("/contract-group/");
    }
}
